<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Grocery Store!</title>
  </head>
  <body>
    
    <div class="container-fluid">
        <h3 class="text-center">Select the page you wish to visit!</h3>
        <div class="row mt-5 ">
            <div class="col-4 mx-auto">
                <div class="row">
                    <a href="/user" class="btn btn-success">User</a>
                </div>
                <br>
                <div class="row">
                    
                        <a href="/admin" class="btn btn-dark">Admin</a>
                    
                </div>
                <br>
                <div class="row">
                   
                        <a href="/manager" class="btn btn-primary">Manager</a>
                    
                </div>
            </div>
        </div>
    </div>
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>  
  </body>
</html>