{% extends 'baseU.html' %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-4 ">
              <h3>Booking- Diary Milk</h3>
             
              
            </div><!--./col-4-->
            <div class="col-4 text-centre mt-4">
              <div class="row">
                <br><h4>Available Packets:36</h4>
              </div>
              <form>
                <div class="mb-3">
                  <label for="Number" class="form-label">Number</label>
                  <input type="Number" class="form-control" id="Number" name="Number">
                </div>
                <div class="mb-3">
                  <label for="Price" class="form-label">Price</label>
                  <input type="Number" class="form-control" id="Price" name="Price">
                </div>
                <div class="mb-3">
                  <label for="Total" class="form-label">Total</label>
                  <input type="Number" class="form-control" id="Total" name="Total">
                </div>
                
                <button type="submit" class="btn btn-primary text-centre mt-4">Confirm Booking</button>
              </form>
            </div>
            <div class="col-4">
              
            </div>
        </div><!--./row-->
    </div><!--container-->
        

 