{% extends 'BaseA.html' %}
{%block content %}
<div class="container-fluid">
    <div class="row">
        <a href="/createmanager" class="btn btn-success">Create Manager</a>
    </div>
    <div class="row">
        <button class="btn btn-warning mt-4 mb-4">
            <a href="/editmanager" class="btn">Edit Manager</a>
        </button>
    </div>
    <div class="row">
        <button class="btn btn-danger">
            <a href="/deletemanager" class="btn btn-danger">Delete Manager</a>
        </button>
    </div>
</div>
{% endblock %}