{% extends 'BaseA.html' %}
{% block content %}
<h2>Create Manager</h2>
<form method="POST" action="/created">
  <div class="form-group">
    <label for="manager">Name:</label>
    <input type="text" class="form-control" id="manager" name="manager" required>
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" class="form-control" id="password" name="password" required>
  </div>
  <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" class="form-control" id="email" name="email" required>
  </div>
  
  <button type="submit" class="btn btn-primary">Create Manager</button>
</form>
{% endblock %}